<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game MultiPlayer</title>
    <style>
        * {
            text-align: center;
        }

        #screen {
            border: 10px solid #ccc;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
            image-rendering: -moz-crisp-edges;
            width: 400px;
            height: 400px;
        }
    </style>
</head>

<body>
    <canvas id='screen' width="10" height="10"></canvas>
</body>

</html>